node-red/flows_smart_firefighter.json
[
    {
        "id": "flow_tab_1",
        "type": "tab",
        "label": "Smart Firefighter System",
        "disabled": false,
        "info": "Smart Firefighter Wearable System Dashboard — receives live telemetry via MQTT (LoRa data-flow emulation)"
    },
    {
        "id": "mqtt_broker_cfg",
        "type": "mqtt-broker",
        "name": "EMQX Public Broker",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "nodered_ff_dashboard",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthRetain": "false",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeRetain": "false",
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willRetain": "false",
        "sessionExpiry": ""
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "Firefighter Dashboard",
        "icon": "local_fire_department",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "grp_info",
        "type": "ui_group",
        "name": "Firefighter Info",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_status",
        "type": "ui_group",
        "name": "Status & Alerts",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_vitals",
        "type": "ui_group",
        "name": "Vital Signs",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_environment",
        "type": "ui_group",
        "name": "Environmental Sensors",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_charts",
        "type": "ui_group",
        "name": "Sensor Trend Charts",
        "tab": "ui_tab_main",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "grp_events",
        "type": "ui_group",
        "name": "Event Log",
        "tab": "ui_tab_main",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "mqtt_in_telemetry",
        "type": "mqtt in",
        "z": "flow_tab_1",
        "name": "Subscribe: Telemetry",
        "topic": "smart_firefighter/ff01/telemetry",
        "qos": "1",
        "datatype": "auto",
        "broker": "mqtt_broker_cfg",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [["json_parse"]]
    },
    {
        "id": "mqtt_in_alerts",
        "type": "mqtt in",
        "z": "flow_tab_1",
        "name": "Subscribe: Alerts",
        "topic": "smart_firefighter/ff01/alerts",
        "qos": "1",
        "datatype": "auto",
        "broker": "mqtt_broker_cfg",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 620,
        "wires": [["json_alerts"]]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "flow_tab_1",
        "name": "Parse Telemetry JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 140,
        "wires": [["func_hr", "func_temp", "func_co", "func_status", "func_fall", "func_alert", "func_info", "debug_raw"]]
    },
    {
        "id": "json_alerts",
        "type": "json",
        "z": "flow_tab_1",
        "name": "Parse Alert JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 620,
        "wires": [["func_event_log"]]
    },
    {
        "id": "debug_raw",
        "type": "debug",
        "z": "flow_tab_1",
        "name": "Raw Telemetry Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "func_hr",
        "type": "function",
        "z": "flow_tab_1",
        "name": "Extract Heart Rate",
        "func": "msg.payload = msg.payload.heart_rate;\nmsg.topic = \"Heart Rate (BPM)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 160,
        "wires": [["gauge_hr", "chart_hr"]]
    },
    {
        "id": "func_temp",
        "type": "function",
        "z": "flow_tab_1",
        "name": "Extract Body Temp",
        "func": "msg.payload = msg.payload.body_temp;\nmsg.topic = \"Body Temperature (°C)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 220,
        "wires": [["gauge_temp", "chart_temp"]]
    },
    {
        "id": "func_co",
        "type": "function",
        "z": "flow_tab_1",
        "name": "Extract CO Level",
        "func": "msg.payload = msg.payload.co_level;\nmsg.topic = \"CO Level (ppm)\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [["gauge_co", "chart_co"]]
    },
    {
        "id": "func_status",
        "type": "function",
        "z": "flow_tab_1",
        "name": "Format Status + Color",
        "func": "var status = msg.payload.status;\nvar colorMap = {\n    'OK':            '#00b500',\n    'WARNING':       '#e6a817',\n    'DANGER':        '#ca3838',\n    'FALL_DETECTED': '#8b008b'\n};\nmsg.payload = {\n    status: status,\n    color:  colorMap[status] || '#444444'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 340,
        "wires": [["ui_status_template"]]
    },
    {
        "id": "func_fall",
        "type": "function",
        "z": "flow_tab_1",
        "name": "Format Fall Detection",
        "func": "msg.payload = msg.payload.fall_detected\n    ? '⚠  FALL DETECTED'\n    : '✔  Normal — No Fall';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 400,
        "wires": [["text_fall"]]
    },
    {
        "id": "func_alert",
        "type": "function",
        "z": "flow_tab_1",
        "name": "Extract Alert Message",
        "func": "msg.payload = msg.payload.alert_message || 'No active alerts';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 460,
        "wires": [["text_alert"]]
    },
    {
        "id": "func_info",
        "type": "function",
        "z": "flow_tab_1",
        "name": "Extract ID + Timestamp",
        "func": "var id_msg = { payload: msg.payload.firefighter_id };\nvar ts_msg = { payload: msg.payload.timestamp };\nreturn [id_msg, ts_msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 520,
        "wires": [["text_ff_id"], ["text_timestamp"]]
    },
    {
        "id": "func_event_log",
        "type": "function",
        "z": "flow_tab_1",
        "name": "Format Event Log Entry",
        "func": "var p = msg.payload;\nvar colorMap = {\n    'WARNING':       'orange',\n    'DANGER':        'red',\n    'FALL_DETECTED': 'purple'\n};\nmsg.payload = [\n    {\n        'time':    p.timestamp,\n        'id':      p.firefighter_id,\n        'status':  p.status,\n        'message': p.alert_message\n    }\n];\nmsg.color = colorMap[p.status] || 'grey';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 620,
        "wires": [["table_events", "debug_alerts"]]
    },
    {
        "id": "gauge_hr",
        "type": "ui_gauge",
        "z": "flow_tab_1",
        "name": "Heart Rate Gauge",
        "group": "grp_vitals",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "BPM",
        "format": "{{value}}",
        "min": 40,
        "max": 200,
        "colors": ["#00b500", "#e6a817", "#ca3838"],
        "seg1": 110,
        "seg2": 130,
        "className": "",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "flow_tab_1",
        "name": "Body Temp Gauge",
        "group": "grp_vitals",
        "order": 2,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Body Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 35,
        "max": 42,
        "colors": ["#00b500", "#e6a817", "#ca3838"],
        "seg1": 38.0,
        "seg2": 39.5,
        "className": "",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "gauge_co",
        "type": "ui_gauge",
        "z": "flow_tab_1",
        "name": "CO Level Gauge",
        "group": "grp_environment",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Carbon Monoxide",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": 500,
        "colors": ["#00b500", "#e6a817", "#ca3838"],
        "seg1": 50,
        "seg2": 200,
        "className": "",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "chart_hr",
        "type": "ui_chart",
        "z": "flow_tab_1",
        "name": "Heart Rate Chart",
        "group": "grp_charts",
        "order": 1,
        "width": "12",
        "height": 4,
        "label": "Heart Rate Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for telemetry data…",
        "dot": true,
        "ymin": "40",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#1f77b4","#aec7e8","#ffbb78","#2ca02c","#ff9896","#9467bd","#c5b0d5","#8c564b","#c49c94","#e377c2"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "chart_temp",
        "type": "ui_chart",
        "z": "flow_tab_1",
        "name": "Body Temp Chart",
        "group": "grp_charts",
        "order": 2,
        "width": "12",
        "height": 4,
        "label": "Body Temperature Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for telemetry data…",
        "dot": true,
        "ymin": "35",
        "ymax": "42",
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#d62728","#aec7e8","#ffbb78","#2ca02c","#ff9896","#9467bd","#c5b0d5","#8c564b","#c49c94","#e377c2"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "chart_co",
        "type": "ui_chart",
        "z": "flow_tab_1",
        "name": "CO Level Chart",
        "group": "grp_charts",
        "order": 3,
        "width": "12",
        "height": 4,
        "label": "CO Level Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for telemetry data…",
        "dot": true,
        "ymin": "0",
        "ymax": "500",
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#ff7f0e","#aec7e8","#ffbb78","#2ca02c","#ff9896","#9467bd","#c5b0d5","#8c564b","#c49c94","#e377c2"],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 460,
        "wires": [[]]
    },
    {
        "id": "ui_status_template",
        "type": "ui_template",
        "z": "flow_tab_1",
        "group": "grp_status",
        "name": "Status Indicator",
        "order": 1,
        "width": "6",
        "height": "2",
        "format": "<div style=\"text-align:center; padding:16px; background-color:{{msg.payload.color}}; color:white; font-size:30px; font-weight:bold; border-radius:10px; letter-spacing:2px; box-shadow:0 3px 6px rgba(0,0,0,0.3);\">{{msg.payload.status}}</div>",
        "storeOutMessages": true,
        "fwd": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 900,
        "y": 340,
        "wires": [[]]
    },
    {
        "id": "text_fall",
        "type": "ui_text",
        "z": "flow_tab_1",
        "group": "grp_environment",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "Fall Detection Status",
        "label": "Fall Detection",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 900,
        "y": 400,
        "wires": []
    },
    {
        "id": "text_alert",
        "type": "ui_text",
        "z": "flow_tab_1",
        "group": "grp_status",
        "order": 2,
        "width": 6,
        "height": 2,
        "name": "Alert Message",
        "label": "Alert Message",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "text_ff_id",
        "type": "ui_text",
        "z": "flow_tab_1",
        "group": "grp_info",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "Firefighter ID",
        "label": "Firefighter ID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 500,
        "wires": []
    },
    {
        "id": "text_timestamp",
        "type": "ui_text",
        "z": "flow_tab_1",
        "group": "grp_info",
        "order": 2,
        "width": 8,
        "height": 1,
        "name": "Last Updated",
        "label": "Last Updated",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 560,
        "wires": []
    },
    {
        "id": "table_events",
        "type": "ui_table",
        "z": "flow_tab_1",
        "group": "grp_events",
        "name": "Alert Event Table",
        "order": 1,
        "width": "12",
        "height": 5,
        "columns": [
            {"field": "time",    "title": "Timestamp",    "width": "220", "align": "left", "formatter": "plaintext"},
            {"field": "id",      "title": "FF ID",        "width": "80",  "align": "center","formatter": "plaintext"},
            {"field": "status",  "title": "Status",       "width": "140", "align": "center","formatter": "plaintext"},
            {"field": "message", "title": "Alert Message","width": "auto","align": "left", "formatter": "plaintext"}
        ],
        "outputs": 0,
        "x": 900,
        "y": 620,
        "wires": []
    },
    {
        "id": "debug_alerts",
        "type": "debug",
        "z": "flow_tab_1",
        "name": "Alerts Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 680,
        "wires": []
    }
]
